@media only screen and (max-width: 940px) {
  .item-user,
  .item-postad {
    display: none;
  }

  .part2 {
    height: auto;
  }

  .row-part2 {
    flex-wrap: wrap;
  }

  .product-part2 {
    flex-basis: 30%;
  }

  .business-info-footer {
    max-width: 120px;
  }
}

@media only screen and (max-width: 845px) {
  .footer01 {
    flex-wrap: wrap;
  }

  .options-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  nav,
  .nav-logo {
    height: 50px;
  }

  .nav-list {
    font-size: 12px;
  }

  .nav01-display-none {
    display: none;
  }

  .nav02-display-none {
    height: 35px;
    margin: auto;
  }

  #header-search {
    height: 350px;
  }

  .header-list01 {
    margin-right: 0;
  }

  .menu-item {
    font-size: 25px;
  }

  .search-header {
    height: 450px;
    grid-template-columns: 1fr minmax(auto, 500px) 1fr;
  }

  .form-header {
    flex-direction: column;
    font-size: 14px;
  }

  .form-header input[type=submit] {
    margin: 10px 0 30px 0;
  }

  .form-header input[type=text] {
    padding: 0 35px;
  }

  #logoname-search {
    margin: 30px auto;
  }

  .results-search {
    grid-template-columns: 1fr auto 1fr;
  }

  .options-search {
    padding-top: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .options-search,
  .showing-results {
    grid-column: 2 / 3;
  }

  .options01-form {
    flex-direction: column;
  }

  .title-options-search {
    margin-top: 0;
  }

  .options-form-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .title-options-search h3 {
    font-size: 14px;
  }

  .checkbox-custom {
    font-size: 13px;
    margin-right: 25px;
  }

  .footer01 {
    flex-wrap: nowrap;
  }

  .business-info-footer {
    max-width: 100%;
  }

  .footer01,
  .categories-list-box {
    flex-direction: column;
  }

  .nav02-display-none,
  .categories-list-footer,
  .navigation-list-footer {
    display: flex;
  }

  .categories-list-footer li,
  .navigation-list-footer li {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 736px) {
  .product-hotads {
    flex-direction: column;
    align-items: center;
  }

  .hotads-img-box,
  .product-info-hotads {
    width: 100%;
  }

  .product-info-hotads {
    padding: 20px 0 0 0;
    text-align: center;
  }

  .buttons-hotads {
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
  }

  .display-none-hotads {
    display: none;
  }

  .product-part2 {
    flex-basis: 40%;
  }

  .footer01 > * {
    font-size: 12px;
  }

  .footer01 h6 {
    font-size: 13px;
    padding-right: 10px;
  }

  .categories-list-footer,
  .navigation-list-footer,
  .options-footer {
    flex-wrap: wrap;
  }

  .options-footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .button-footer {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 470px) {
  .list-display-none {
    display: none;
  }

  .nav-icon {
    font-size: 15px;
  }

  .logo-name img {
    max-width: 300px;
  }

  .hotads-img-box {
    height: 200px;
  }

  .purchase-text-hotads {
    display: none;
  }

  .result {
    flex-direction: column;
  }

  .img-showing {
    width: 100%;
    margin-bottom: 20px;
  }

  .op-titlebtn-footer {
    margin-right: 20px;
  }

  .items-footer02 {
    flex-direction: column-reverse;
  }
}
