@media only screen and (max-width: 940px) {
  .item-user {
    display: none;
  }

  .row-part2 {
    flex-wrap: wrap;
  }

  .business-info-footer {
    max-width: 120px;
  }
}

@media only screen and (max-width: 845px) {
  .footer01 {
    flex-wrap: wrap;
  }
  
  .options-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 822px) {
  .item-postad {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  nav,
  .nav-logo {
    height: 50px;
  }

  .nav-list {
    font-size: 12px;
  }

  .nav01-display-none {
    display: none;
  }

  .nav02-display-none {
    height: 35px;
    margin: auto;
  }

  .header-list01 {
    margin-right: 0;
  }

  .menu-item {
    font-size: 25px;
  }

  .footer01 {
    flex-wrap: nowrap;
  }

  .business-info-footer {
    max-width: 100%;
  }

  .footer01,
  .categories-list-box {
    flex-direction: column;
  }

  .nav02-display-none,
  .categories-list-footer,
  .navigation-list-footer {
    display: flex;
  }

  .categories-list-footer li,
  .navigation-list-footer li {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 736px) {
  .search-header {
    height: 450px;
  }

  .form-header {
    flex-direction: column;
  }

  .form-header input[type=submit] {
    margin: 10px 0 30px 0;
  }

  .form-header input[type=text] {
    padding: 0 35px;
  }

  .product-hotads {
    flex-direction: column;
    align-items: center;
  }

  .hotads-img-box,
  .product-info-hotads {
    width: 100%;
  }

  .product-info-hotads {
    padding: 20px 0 0 0;
    text-align: center;
  }

  .buttons-hotads {
    height: 30px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 13px;
  }

  .display-none-hotads {
    display: none;
  }
}

@media only screen and (max-width: 670px) {
  .footer01 > * {
    font-size: 12px;
  }

  .footer01 h6 {
    font-size: 13px;
    padding-right: 10px;
  }

  .options-footer {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .button-footer {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .list-display-none {
    display: none;
  }

  .nav-icon {
    font-size: 15px;
  }

  .hotads-img-box {
    height: 200px;
  }

  .purchase-text-hotads {
    display: none;
  }

  .categories-list-footer,
  .navigation-list-footer,
  .options-footer {
    flex-wrap: wrap;
  }

  .op-titlebtn-footer {
    margin-right: 20px;
  }

  .items-footer02 {
    flex-direction: column-reverse;
  }
}
