@font-face {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "HelveticaNeue-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Helvetica45Light_22437.ttf");
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Helvetica65Medium_22443.ttf");
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Helvetica85Heavy_22449.ttf");
}

.f-family-raleway-l {
  font-family: "Raleway-Light", sans-serif;
}

.f-family-raleway-eb {
  font-family: "Raleway-ExtraBold", sans-serif;
}

.f-family-helvetica-l {
  font-family: "HelveticaNeue-Light", sans-serif;
}

.f-family-helvetica-m {
  font-family: "HelveticaNeue-Medium", sans-serif;
}

.f-family-helvetica-b {
  font-family: "HelveticaNeue-Bold", sans-serif;
}

.color00 {
  color: white;
}

.bg-color00 {
  background-color: white;
}

.color01 {
  color: #d35266;
}

.bg-color01 {
  background-color: #d35266;
}

.color02 {
  color: #888;
}

.bg-color02 {
  background-color: #888;
}

.color03 {
  color: #383838;
}

.bg-color03 {
  background-color: #383838;
}

.white-space-nw {
  white-space: nowrap;
}

body {
  min-width: 330px;
}

h3 {
  font-size: 20px;
}

li,
button {
  font-family: "HelveticaNeue-Medium", sans-serif;
}

/* NAVBAR */
nav {
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.nav01-display-none {
  max-width: 1500px;
  margin: 0 30px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
}

.nav02-display-none {
  display: none;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  padding: 0;
  margin: 0;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
}

.nav-list li {
  padding: 0 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav-list a:hover {
  text-decoration: none;
  color: #d35266;
}

.header-list01 {
  max-width: 900px;
  margin-right: 80px;
}

.header-list02 {
  max-width: 250px;
}

.nav-icon {
  margin-right: 3px;
}

.nav-logo {
  height: 70px;
}

.nav-postad {
  height: 35px;
  padding: 0 15px 0 15px;
  display: inline-block;
  line-height: 35px;
  border: none;
}

.nav-postad:hover {
  color: #d35266;
  background-color: white;
  border: none;
}

.nav-postad:focus {
  outline: none;
}

.fa-user-circle {
  font-size: 40px;
}

/* NAVBAR */

/* SEARCH BAR */

#header-index {
  height: 350px;
}

.search-header {
  margin: auto;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr minmax(auto, 1100px) 1fr;
  background-image: url("../img/random-grey-variations.png");
}

.search-header::before {
  background-image: url("../img/Logo-background.png");
}

.logo-name {
  z-index: 1;
  margin: auto;
  grid-column: 2 / 3;
}

.form-header {
  z-index: 1;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin: 0 20px;
  display: flex;
}

.form-header label {
  margin: 0;
}

.form-header select,
.form-header input[type=text] {
  height: 50px;
  padding: 0 15px;
  flex-grow: 2;
  border: none;
  border: 1px solid #d35266;
}

.form-header select {
  padding-left: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../img/icons8-sort-down-20.png");
  background-repeat: no-repeat;
  background-position: 5px;
}

.form-header input[type=submit] {
  height: 50px;
  margin-left: 10px;
  flex-grow: 1;
  border: none;
}

.form-header input[type=submit]:hover {
  color: #d35266;
  background-color: white;
}

/* SEARCH BAR */

/* MAIN */

main {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1100px) 1fr;
  grid-template-rows: auto;
}

/* MAIN */

/* HOT ADS */

.section-hotads {
  grid-column: 1 / -1;
  padding: 0 15px;
}

.sales-hotads {
  position: relative;
  max-width: 1100px;
  margin: auto;
}

.c-inner-hotads {
  padding: 20px;
}

.c-inner-hotads h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.c-item-hotads {
  padding: 0 40px;
}

.product-hotads {
  max-width: 900px;
  min-height: 300px;
  margin: auto;
  display: flex;
  align-content: center;
}

.hotads-img-box {
  position: relative;
  margin: auto;
  height: 300px;
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.hotads-img-box img {
  display: none;
}

#hotads01 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61mWiZdSDWL._AC_UX395_.jpg");
}

#hotads02 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61klPQ1HVrL._AC_SY355_.jpg");
}

#hotads03 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81E3qFSU1ML._AC_SY355_.jpg");
}

.slideshow-button-hotads {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #383838;
}

.slideshow-button-hotads:hover {
  height: 30px;
  width: 30px;
  background-color: #888;
}

.backward-button {
  right: 30px;
}

.arrows-position-hotads {
  padding-top: 7px;
  padding-left: 9px;
}

.product-info-hotads {
  padding: 15px 0 15px 25px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info-hotads p {
  font-size: 14px;
}

.button-space-hotads {
  font-size: 0;
}

.buttons-hotads {
  min-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0;
  font-size: 16px;
  border: none;
}

.buttons-hotads:hover {
  color: #d35266;
  background-color: white;
  border: none;
}

.buttons-hotads:focus {
  outline: none;
}

.price-hotads {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: 1px solid #38383880;
}

.purchase-hotads {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.prev-next-hotads {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(136, 136, 136, 0.3);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

.prev-next-hotads:hover {
  text-decoration: none;
  color: #d35266;
  background-color: rgba(136, 136, 136, 0.2);
}

#c-prev {
  left: 0;
}

#c-next {
  right: 0;
}

/* HOT ADS */

/* MAIN PART 2 */

.section-all {
  grid-column: 1 / -1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1100px) 1fr;
  grid-template-rows: auto;
  border-top: 1px solid rgba(136, 136, 136, 0.3);
  background-color: #ffff;
  background-image: url("../img/45-degree-fabric-light.png");
}

.part2 {
  height: 450px;
  position: relative;
  grid-column: 2 / 3;
  margin: auto;
  padding-bottom: 15px;
}

.title {
  margin: 30px 0 10px 0;
  display: flex;
  border-bottom: 1px solid rgba(136, 136, 136, 0.3);
}

.title img {
  padding-left: 5px;
  height: 100%;
}

.title h4 {
  padding-left: 15px;
  font-size: 18px;
}

.c-inner-part2 {
  overflow-x: hidden;
}

.row-part2 {
  padding: 0 35px 0 35px;
  flex-wrap: nowrap;
  overflow-x: hidden;
  justify-content: space-around;
}

.product-part2 {
  flex-basis: 20%;
  padding: 0;
  margin: 5px 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(136, 136, 136, 0.5);
  box-shadow: 0 1px 3px rgba(136, 136, 136, 0.5);
}

.product-img-part2 {
  position: relative;
  height: 0;
  padding-top: 75%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.product-info-part2 {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15px 10px 15px;
  font-size: 14px;
}

.product-info-part2 h5 {
  padding-top: 15px;
  margin-bottom: 3px;
  font-size: 17px;
}

.product-info-part2 h5:hover {
  color: #d35266;
}

.product-info-part2 p,
.p-info-usednew {
  font-size: 12px;
}

.product-info-part2 a:hover {
  text-decoration: none;
}

.product-more-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-info-button {
  height: 25px;
  width: 25px;
  font-size: 11px;
  background-color: transparent;
  border: 1px solid rgba(136, 136, 136, 0.5);
}

.more-info-button:hover {
  color: #d35266;
  background-color: #383838;
}

.c-buttons-part2 {
  position: absolute;
  top: 55%;
}

.c-buttons-part2:hover {
  color: #d35266;
}

.c-btn-left-part2 {
  left: 10px;
}

.c-btn-right-part2 {
  right: 10px;
}

#row2-1-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41%2B-FS1L58L._AC_UY395_.jpg");
}

#row2-1-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71HWZzwN1-L._AC_SY450_.jpg");
}

#row2-1-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61OUmiAou7L._AC_UX395_.jpg");
}

#row2-1-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61jHaevIltL._AC_UY395_.jpg");
}

#row2-1-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61NDq-n9AOL._AC_UY395_.jpg");
}

#row2-2-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61X8KBO0EZL._AC_UY395_.jpg");
}

#row2-2-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71S8cMeIYiL._AC_UX395_.jpg");
}

#row2-2-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71RDY1wdPDL._AC_UY500_.jpg");
}

#row2-2-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71RJ%2BylsFML._AC_UY395_.jpg");
}

#row2-2-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61T1eNnuqdL._AC_UY395_.jpg");
}

#row2-3-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/610jBM1Im0L._AC_UX535_.jpg");
}

#row2-3-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/817T5hGgd1L._AC_UY395_.jpg");
}

#row2-3-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/613tw-PBlZL._AC_UX575_.jpg");
}

#row2-3-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/51jggcfbnnL._AC_UY395_.jpg");
}

#row2-3-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61mfJblzDeL._AC_UY395_.jpg");
}

#row3-1-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71p7FdNs-kL._AC_UY395_.jpg");
}

#row3-1-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/712AlUGo-TL._AC_UY395_.jpg");
}

#row3-1-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61AJKh3FQnL._AC_UY395_.jpg");
}

#row3-1-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/8158HNx4CQL._AC_UY395_.jpg");
}

#row3-1-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/41ZWgCBz8cL._AC_.jpg");
}

#row3-2-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71wLH5pEkBL._AC_UY395_.jpg");
}

#row3-2-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61nHVDb%2BIdL._AC_SY450_.jpg");
}

#row3-2-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71-szaH-22L._AC_UY395_.jpg");
}

#row3-2-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61CSc7xqfvL._AC_UY395_.jpg");
}

#row3-2-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61wWef51XvL._AC_UY395_.jpg");
}

#row3-3-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/711O3Cc5GnL._AC_UY395_.jpg");
}

#row3-3-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71iDX28vwWL._AC_UY395_.jpg");
}

#row3-3-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71Vl2Si1H9L._AC_UY395_.jpg");
}

#row3-3-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/710GI0XfmzL._AC_UY395_.jpg");
}

#row3-3-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/815ao7gH3qL._AC_UY395_.jpg");
}

#row4-1-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61PchpKXUFL._AC_UY395_.jpg");
}

#row4-1-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71PW4KVpqBL._AC_UX395_.jpg");
}

#row4-1-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81bEe5LrzbL._AC_UX395_.jpg");
}

#row4-1-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61Qr%2BQtGdYL._AC_UY500_.jpg");
}

#row4-1-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/714WVDxHm7L._AC_UX395_.jpg");
}

#row4-2-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81H8JOVlCxL._AC_UY395_.jpg");
}

#row4-2-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81FmGAStXvL._AC_UY395_.jpg");
}

#row4-2-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81I0FXqAuWL._AC_UY395_.jpg");
}

#row4-2-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/81tkZG%2BgjIL._AC_UY395_.jpg");
}

#row4-2-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/610Kx3dg3rL._AC_UX569_.jpg");
}

#row4-3-1 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/71rCeYP5qCL._AC_UY395_.jpg");
}

#row4-3-2 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61aqfs03eKL._AC_UX522_.jpg");
}

#row4-3-3 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/815eN9ohD8L._AC_UY395_.jpg");
}

#row4-3-4 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/710m7C5%2BfRL._AC_UY395_.jpg");
}

#row4-3-5 {
  background-image: url("https://images-na.ssl-images-amazon.com/images/I/61yWPOFetsL._AC_UY395_.jpg");
}

/* MAIN PART 2 */

/* FOOTER */

footer {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1100px) 1fr;
  grid-template-rows: auto;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgba(136, 136, 136, 0.3);
}

footer ul {
  list-style: none;
  padding-left: 0;
}

.footer01 {
  grid-column: 2 / 3;
  margin: 20px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer01 > * {
  font-size: 13px;
}

.footer01 ul {
  padding-right: 50px;
}

.business-info-footer {
  max-width: 200px;
  margin-right: 10px;
  text-align: justify;
}

.categories-title-footer,
.navigation-title-footer {
  border-bottom: 1px solid #d35266;
}

.categories-list-box {
  flex-shrink: 1;
  display: flex;
}

.navigation-list-footer a:hover,
.categories-list-footer a:hover {
  color: #383838;
  text-decoration: none;
}

.op-titlebtn-footer {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-footer {
  padding: 6px 12px;
  margin-left: 15px;
  min-width: 100px;
  border: none;
  border: 1px solid rgba(136, 136, 136, 0.5);
}

.button-footer:hover {
  color: #d35266;
  background-color: #383838;
}

.button-footer:focus {
  outline: none;
}

.footer02 {
  grid-column: 2 / 3;
  border-top: 1px solid rgba(136, 136, 136, 0.3);
}

.items-footer02 {
  margin: 20px 40px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}

.social-media-footer02 {
  display: flex;
}

.social-media-footer02 li {
  margin-left: 20px;
}

/* FOOTER */
