@font-face {
  font-family: "Raleway-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Raleway-ExtraBold.ttf");
}

@font-face {
  font-family: "HelveticaNeueLT-LightCond";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/HelveticaNeueLT-LightCond.otf");
}

@font-face {
  font-family: "HelveticaNeueLT-MediumCond";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/HelveticaNeueLT-MediumCond.otf");
}

@font-face {
  font-family: "HelveticaNeueLT-BoldCond";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/HelveticaNeueLT-BoldCond.otf");
}

.color00 {
  color: white;
}

.bg-color00 {
  background-color: white;
}

.color01 {
  color: #d35266;
}

.bg-color01 {
  background-color: #d35266;
}

.color02 {
  color: #8888;
}

.bg-color02 {
  background-color: #8888;
}

.color03 {
  color: #383838;
}

.bg-color03 {
  background-color: #383838;
}

/* HEADER */
nav {
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.nav01-display-none {
  max-width: 1500px;
  margin: 0 30px;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
}

.nav02-display-none {
  display: none;
  justify-content: space-between;
  flex-grow: 1;
}

.nav-list {
  padding: 0;
  margin: 0;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  list-style: none;
  font-size: 14px;
}

.nav-list li {
  padding: 0 10px;
  flex-grow: 1;
  flex-shrink: 1;
}

.header-list01 {
  max-width: 900px;
  margin-right: 80px;
}

.header-list02 {
  max-width: 250px;
}

.nav-icon {
  margin-right: 3px;
}

.nav-logo {
  height: 70px;
}

.nav-postad {
  height: 35px;
  padding: 0 15px 0 15px;
  display: inline-block;
  line-height: 35px;
  white-space: nowrap;
}

.fa-user-circle {
  font-size: 40px;
}

/* HEADER */

/* MAIN */

main {
  height: 1200px;
  background-color: aqua;
}

/* MAIN */

/* FOOTER */

footer {
  height: 100px;
  background-color: brown;
}

/* FOOTER */
